<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </div>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, class: "ckeditor", rows: 5 %> 
  </div>

  <div class="actions">
    <%= f.submit "Add Comment", style: "background-color: green; color: white; padding: 5px 10px; border: none; cursor: pointer;" %>
  </div>
<% end %>


<script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const editorElements = document.querySelectorAll('.ckeditor');
    // Obtener el token CSRF de la meta tag
    const csrfToken = document.querySelector('meta[name="csrf-token"]').content;

    editorElements.forEach(element => {
      ClassicEditor.create(element, {
        ckfinder: {
          // Configurar el URL y los encabezados para incluir el token CSRF
          uploadUrl: '/comments/upload_image',
          options: {
            headers: {
              'X-CSRF-Token': csrfToken
            }
          }
        }
      })
        .then(editor => {
          console.log('CKEditor inicializado');
        })
        .catch(error => {
          console.error('Error al inicializar CKEditor:', error);
        });
    });
  });
</script>

