<div class="posts-header">
  <h1>Posts</h1>
  <div class="header-actions">
    <%= link_to 'New Post', new_post_path, class: "new-post-button" %>
    <% if user_signed_in? %>
      <div class="user-menu-container">
        <div class="user-icon">
          <i class="fa fa-user"></i>
        </div>

        <%# --- INICIO DE LA MODIFICACIÓN --- %>
        <%# Mostramos el email ya que no hay campo 'name' en la tabla users %>
        <div class="user-name-display">
          <%= current_user.email %>
        </div>
        <%# --- FIN DE LA MODIFICACIÓN --- %>

        <div class="dropdown-menu">
          <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "logout-button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-card">
      <div class="post-card-body">
        <h2 class="post-title"><%= post.title %></h2>
        
        <% if post.user %>
          <p class="post-author">by <%= post.user.email %></p>
        <% end %>

        <p class="post-content"><%= truncate(post.content, length: 150) %></p>
      </div>

      <div class="post-card-actions">
        
<%= link_to 'Show', post, class: "action-link show" %>
        <%= link_to 'Edit', edit_post_path(post), class: "action-link edit" %>
        <%= link_to 'Destroy', post, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "action-link destroy" %>
      </div>
    </div>
  <% end %>
</div>