<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<!-- Formulario para eliminar el post -->
<%= form_for @post, method: :delete, html: { style: "display:inline;" } do %>
  <%= submit_tag 'Delete', style: "background-color: red; color: white; padding: 5px 10px; border: none; cursor: pointer;" %>
<% end %>

<!-- Enlace para editar el post -->
<%= link_to 'Edit', edit_post_path(@post) %> |
<!-- Enlace para regresar a la lista de posts -->
<%= link_to 'Back', posts_path %>

<h2>Comments</h2>
<% if @comments.any? %>  <!-- Verifica si hay comentarios -->
  <%= render @comments %>  <!-- Renderiza todos los comentarios -->
<% else %>
  <p>No comments yet.</p>
<% end %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>  <!-- Formulario para agregar un comentario -->

<br />

<%= link_to 'Back to Posts', posts_path %> |
