<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "user_menu", media: "all" %>

  <% if File.exist?(Rails.root.join('app/assets/stylesheets', "#{controller_name}.css")) %>
    <%= stylesheet_link_tag controller_name, media: "all" %>
  <% end %>

  <% if ['sessions', 'registrations'].include?(controller_name) && ['new', 'edit', 'destroy'].include?(action_name) %>
    <%= stylesheet_link_tag "auth", media: "all" %>
  <% end %>

  <% if controller_name == 'posts' && ['show', 'edit', 'destroy'].include?(action_name) && File.exist?(Rails.root.join('app/assets/stylesheets', "comments.css")) %>
    <%= stylesheet_link_tag "comments", media: "all" %>
  <% end %>
  
  <% if controller_name == 'posts' && ['new', 'edit'].include?(action_name) %>
    <%= stylesheet_link_tag "forms", media: "all" %>
  <% end %>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>


<body style="background: #EEEEEE; font-family: Arial, sans-serif; margin: 0; padding: 20px;">

  <% if user_signed_in? %>
    <div class="user-menu-container">
      <div class="user-icon">
        <i class="fa fa-user"></i>
      </div>
      <div class="dropdown-menu">
        <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "logout-button" %>
      </div>
    </div>
  <% end %>

  <%= yield %>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const userIcon = document.querySelector('.user-icon');
      const dropdownMenu = document.querySelector('.dropdown-menu');

      if (userIcon) {
        userIcon.addEventListener('click', function() {
          dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
        });

        document.addEventListener('click', function(event) {
          if (!userIcon.contains(event.target)) {
            dropdownMenu.style.display = 'none';
          }
        });
      }
    });
  </script>

</body>
</html>