<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <!-- Carga los estilos globales -->
  <%= stylesheet_link_tag "application", media: "all" %>

  <!-- Carga los estilos específicos para cada controlador -->
  <% if controller_name == 'home' %>
    <%= stylesheet_link_tag "home", media: "all" %>
  <% elsif controller_name == 'posts' %>
    <%= stylesheet_link_tag "posts", media: "all" %>
  <% end %>

  <%= javascript_include_tag "application" %>
</head>
<body style="background: #EEEEEE; font-family: Arial, sans-serif; margin: 0; padding: 20px;">

  <%= yield %> <!-- Aquí se insertan las vistas específicas -->

</body>
</html>
